asgiref==3.10.0
black==25.9.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
distlib==0.4.0
Django==5.2.7
django-allauth==65.12.0
django-widget-tweaks==1.5.0
filelock==3.20.0
flake8==7.3.0
identify==2.6.15
isort==7.0.0
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.5.0
pre_commit==4.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytokens==0.1.10
PyYAML==6.0.3
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.35.3
